* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}
.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  justify-content: center;
}
.slider {
  display: flex;

  width: 80%;
  overflow-x: auto;
}
.card {
  flex: none;
  width: 800px;
  height: 450px;
  overflow: hidden;
  margin: 0 10px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
