* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  min-height: 100vh;
}
#gradient-canvas {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  --gradient-color-1: #c3faff;
  --gradient-color-2: #66e1ff;
  --gradient-color-3: #ffd4e5;
  --gradient-color-4: #ff8cb4;
}
:root {
  --circle-right: 6%;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #42424a;
  overflow-y: auto;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Caveat", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  font-size: 2rem;
  padding: 30px 8%;
  font-weight: 800;
  width: 100%;
  z-index: 400;
  border-bottom: 1px solid #dbdbdb;
  height: 5vh;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.5s;
}

nav ul li:hover {
  color: rgb(53, 129, 229);
  transform: translateY(-2px);
  scale: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  border-bottom: 1px solid #dbdbdb;
}

.logo {
  margin-right: 30px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 40px;
}

.socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid white;
  text-decoration: none;
  transform: rotate(45deg);
  transition: 0.2s steps(10);
}

.socials a:hover {
  border: 1.5px solid rgb(53, 129, 229);
}

.socials a i {
  font-size: 24px;
  transform: rotate(-45deg);
}

.home {
  width: 100%;
  min-height: 100vh;
  padding: 30px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 40px;
  position: relative;
}

.home-content {
  position: relative;
  max-width: 630px;
  z-index: 10;
}

.home-content h1 {
  font-size: clamp(10px, 2.5vh, 100px);
  line-height: 1.3;
}

.home-content h3 {
  font-size: clamp(25px, 4.5vh, 100px);
  color: rgb(53, 129, 229);
}

.home-content p {
  font-size: clamp(13px, 1.5vh, 80px);
  padding: 15px 0 30px;
  max-width: 450px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(53, 129, 229);
  border: 2px solid rgb(53, 129, 229);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}

.btn:hover {
  background: transparent;
  color: rgb(53, 129, 229);
}

.home-image {
  position: relative;
  height: 100%;
  width: 100%;
  right: clamp(1px, 2vw, 20px);
  top: 40px;
}
.heads {
  text-align: center;
}
.home .circle {
  position: absolute;
  display: inline-flex;
  height: min(clamp(65px, 30vw, 603px), clamp(65px, 30vh, 603px));
  width: min(clamp(65px, 30vw, 603px), clamp(65px, 30vh, 603px));
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  transform: rotateX(70deg);
  z-index: 2;
  margin-top: 1.25vh;
  right: var(--circle-right);
}
.imagi {
  position: absolute;
  height: 30dvw;
  width: 22dvw;
  top: 14%;
  right: calc(var(--circle-right) + 4%);
  z-index: 3;
  transform: rotate(-1deg);
  margin-top: 1.25vh;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 2));
}

.home .circle2 {
  position: absolute;
  display: inline-flex;
  height: 35dvh;
  width: 35dvh;
  margin-right: 8dvh;
  right: var(--circle-right);
  margin-top: -18vh;
  border-radius: 50%;
  color: aqua;
  border: 2px solid rgba(109, 109, 109, 0);
  background-color: #e0e0e0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.cont {
  display: flex;
}

@media screen and (max-width: 845px) {
  :root {
    --circle-right: auto;
  }
  .home {
    flex-direction: column;
    align-items: center;
  }

  .home img {
    order: -1; /* Ensure image is on top */
  }

  .home .home-content,
  .home .circle,
  .home .circle2 {
    margin-bottom: 20px; /* Adds spacing between elements */
  }
  .home-content {
    order: 2;
    height: 55vh;
  }

  .circle {
    margin: auto;
    left: auto;
  }
  .circle2 {
  }
  .herosec {
    position: relative;
    height: 50dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .circle,
  .circle2,
  .imagi {
    position: absolute;
    height: (34 * (3/5)) dvw;
    width: (25.7 * (3/5)) dvw;
  }

  .herosec > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.side-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  padding-top: 60px;
  transition: 0.3s;
  flex-direction: column;
  z-index: 999;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.side-menu nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.side-menu nav ul li {
  margin-bottom: 10px; /* Add margin to separate items */
  padding-left: 15px;
  color: black;
}

.side-menu.show {
  visibility: visible;
  display: flex;
  animation: slideIn 0.3s forwards;
}

.side-menu.hide {
  animation: slideOut 0.3s forwards;
  visibility: visible;
}
@keyframes slideIn {
  from {
    right: -250px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -250px;
    opacity: 0;
  }
}

@media (max-width: 940px) {
  .menu {
    display: none;
  }
  .socials {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
.bx-chevron-up {
  height: 10px;
  width: 20px;
}
/* .side ul li a:first-child {
  height: clamp(12px, 2vh, 60px);
  width: clamp(12px, 2vh, 60px);
} */
.content {
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.content iframe {
  width: 100%;
  min-height: 100vh;
  border: none;
}
.features {
  min-height: 100%;
  width: 100%;
}

.arro {
  margin: auto;
}

.contactbox {
  display: fixed;
}
footer {
  width: 100%;
}

.contact-wrapper {
  position: fixed;
  top: 50%;
  right: -170px; /* Adjust this based on your button width */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 20000;
}

.contact-wrapper.active {
  right: 10px; /* Adjust this to the final position of the button */
  .arro {
    transform: rotate(180deg);
    transition: 0.4s ease-in;
  }
}

.contarrow {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(
    145deg,
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;
}

.contarrow .arro {
  font-size: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in;
  z-index: 20000;
}

.contactsu {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #42424a;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.contact-wrapper:not(.active) .contactsu {
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 545px) {
  .herosec {
    height: 332px;
  }
  .imagi {
    top: 50px;
    height: 46dvw !important;
    width: 34dvw !important;
    margin: 8.3px 0px 0px;
  }
  .home-content h1 {
    font-size: 17px;
    line-height: 1.3;
  }

  .home-content h3 {
    font-size: 30px;
    color: rgb(53, 129, 229);
  }
  .home-content {
    height: 365px;
  }
}
.skeleton {
  position: relative;
  background-color: #e0e0e0; /* Skeleton color */
  overflow: hidden;
  border-radius: 2rem;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: gradient-animation 2s infinite;
  z-index: 1;
}

.skeleton > * {
  visibility: hidden; /* Hides the content */
}
@keyframes gradient-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.visible {
  display: none;
}
.herosec {
  margin: auto;
}
@media screen and (max-width: 370px) {
  .imagi {
    top: 120px;
    height: 46dvw !important;
    width: 34dvw !important;
    margin: 8.3px 0px 0px;
  }
}
@media screen and (max-width: 460px) {
  .imagi {
    top: 80px;
    height: 46dvw !important;
    width: 34dvw !important;
    margin: 8.3px 0px 0px;
  }
}
@media screen and (max-width: 505px) {
  .imagi {
    top: 60px;
    height: 46dvw !important;
    width: 34dvw !important;
    margin: 8.3px 0px 0px;
  }
}
@media screen and (max-width: 844px) {
  .imagi {
    top: 40px;
    height: 46dvw !important;
    width: 34dvw !important;
    margin: 8.3px 0px 0px;
  }
}
.socials-dropdown {
  display: block; /* Ensure this is hidden by default */
  background-color: #444;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  border-radius: 4px;
  z-index: 1000; /* Ensure it's above other elements */
}

.socials-dropdown a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.socials-dropdown a:hover {
  background-color: #555;
}

/* Show the dropdown when side-menu is active */
.drop {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.drop.show {
  max-height: 500px; /* Ensure this value is larger than the content height */
  opacity: 1;
}
.side-menu i {
  display: inline-block; /* Ensure icons are displayed correctly */
  padding: 8px;
}
